.sideBar {
    display: none;
}
.offSideBar {
    display: none;
}
.toggler {
    display: none;
}

.loader{
display: flex;
position: absolute;
top: 0;
bottom: 0;
min-height: 100vh;
}

.offLoader {
    display: none;
}
@media screen and (max-width :768px){
.container {
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;
}

.sideBar {
    height: 70%;
    position: fixed;
    top:0;
    background-color:#192252;
    z-index: 2;
    display: flex;
    transform: translateX(0);
    transition: all 0.7s ease-in-out;
}

.sideBar ul li:hover {
    background-color:#6c749d;
}
.offSideBar {
    height: 70%;
    position: fixed;
    top:0;
    z-index: 2;
    display: flex;
    transition: all 0.7s ease-in-out;
    transform: translateX(100%);
    background-color:#192252;
}

.toggler {
    display: flex;
}
}



