@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";

$primary : #2AB7C8;
$secondary : #192252;


@import "../node_modules/bootstrap/scss/variables.scss";
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Ubuntu:wght@300;500;700&display=swap');


@font-face {
    font-family: titleFont;
    src: url('./assets/fonts/FutuBd.ttf');
}

@font-face {
    font-family: titleFontMd;
    src: url('./assets/fonts/FutuMd.ttf');
};

@font-face {
    font-family: textFont;
    src: url('./assets/fonts/timesRomanReg.ttf');
};